h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 19px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btnGreen {
            background-color: rgb(54, 190, 123);
        }

#btnRed{
            background-color: rgb(238, 68, 67);
        }

#btnBlue{
            background-color: rgb(67, 152, 238);
        }

button {
            border-radius: 5px;
            width: 400px;
            height: 80px;
            margin: 5px;
            font-size: 23px;
            color: rgb(42, 42, 42)
        }